<ul>
  <li>Lat: <%= version.lat %></li>
  <li>Lng: <%= version.lng %></li>
  <li>Markers: 
  <% version.markers.each do |marker| -%>
    <ul>
      <li>Lat: <%= marker.lat %></li>
      <li>Lng: <%= marker.lng %></li>
    </ul>
  <% end -%>
  </li>
</ul>
