sota/*.aux
sota/*.bbl
sota/*.blg
sota/*.lof
sota/*.log
sota/*.lot
sota/*.out
sota/*.pdf
sota/*.toc
sota/dia/*~
thesis/*.aux
thesis/**/*.aux
thesis/*.bbl
thesis/*.blg
thesis/*.lof
thesis/*.log
thesis/*.lot
thesis/*.out
thesis/*.pdf
thesis/*.toc
thesis/dia/*~
prototypes/documents/log/*.log
articles/**/*.aux
articles/**/*.bbl
articles/**/*.blg
articles/**/*.lof
articles/**/*.log
articles/**/*.lot
articles/**/*.out
articles/**/*.pdf
articles/**/*.toc
