<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Serializable test</title>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <%= javascript_include_tag 'jquery.form' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <%= yield	%>
</body>
</html>
