<div>
  <object type="application/x-shockwave-flash" data="/swf/scratch_player.swf" width="482" height="387" id="scratch-player-<%= scratch.block_id %>" class="scratch-player">
    <param name="allowScriptAccess" value="sameDomain">
    <param name="allowFullScreen" value="true">
    <param name="flashvars" value="project=<%= scratch.source_file.url %>">
  </object>
</div>

